  <img src="/images/logo.jpg" alt="Logo" style="width:auto;height:auto">

<div class="center">
  <!-- Rounded switch -->
<p id="text">LED AN</p>
<label class="switch">
    <input type="checkbox" id="toggle" onclick="check()">
    <span class="slider round"></span>
  </label>
  <br><br>
  <button id="temp">Temperatur abfragen</button>
</div>
    
    
<script>
  function check()
  {
    if(document.getElementById("toggle").checked)
      document.getElementById("text").innerHTML="LED AUS";
    else
    document.getElementById("text").innerHTML="LED AN";
  }
</script>
